 
# Python
*.py[cod]
pycache/
*.pyo
*.pyd
*.swp

# Virtual environment
venv/

# Django stuff
*.log
*.pot
*.py[cod]

# Database
db.sqlite3

# Media files (user uploads)
media/

# Django migrations (optional, میتونی نگه داری)
*/migrations/*.py
*/migrations/*.pyc

# VSCode
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db